<div id="map">aa</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Targa</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Via</th>
      </tr>
    </thead>
    <tbody>
    
      <tr *ngFor="let vehicle of vehicles">
          <th scope="row"><a (click)="setPoint(vehicle.latitude,vehicle.longitude)">F</a></th>
          <td>{{vehicle.license}}</td>
          <td>{{vehicle.description}}</td>
          <td>{{vehicle.street}} </td>
        </tr>
     
    </tbody>
  </table>

  <form id="calculate-route" name="calculate-route" action="#" method="get">
    <label for="from">From:</label>
    <input type="text" id="from" name="from" required="required" placeholder="An address" size="30" />
    <a id="from-link" href="#">Get my position</a>
    <br />
  
    <label for="to">To:</label>
    <input type="text" id="to" name="to" required="required" placeholder="Another address" size="30" />
    <a id="to-link" href="#">Get my position</a>
    <br />
  
    <input type="submit" />
    <input type="reset" />
  </form>