<div #map id="map">aa</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Targa</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Dettagli</th>
      </tr>
    </thead>
    <tbody>
    
      <tr *ngFor="let vehicle of vehicles">
          <th scope="row"><a (click)="setPoint(vehicle.latitude,vehicle.longitude);">F</a></th>
          <td>{{vehicle.license}}</td>
          <td>{{vehicle.description}}</td>
          <td>{{vehicle.street}} </td>
        </tr>
     
    </tbody>
  </table>

  